@{
    ViewBag.Title = "Optum University";
}

<div class="jumbotron">
    <h1>Optum University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo à Optum University</h2>
        <p>
            Optum University é uma aplicação que demonstra
            como usar a Entity Framework 6 em uma aplicação
            web ASP.NET MVC 5.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Créditos</h2>
        <p> A aplicação foi desenvolvida por Marcelo Assis,
            Marcelo Mikosz, Nicolas Troles, Murillo Erhardt,
            Katheryne Graf e Neto Santos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mensagem</h2>
        <p>Veja aqui uma mensagem dos desenvolvedores pra você!</p>
        <p><a class="btn btn-default" href="http://www.dontpad.com/optumuniversity">Clique aqui &raquo;</a></p>
    </div>
</div>
